asgiref==3.8.1
diff-match-patch==20241021
Django==4.2.19
django-import-export==4.3.4
django-jazzmin==3.0.1
django-modeltranslation==0.19.12
et_xmlfile==2.0.0
gunicorn==23.0.0
openpyxl==3.1.5
packaging==24.2
pillow==11.1.0
psycopg2-binary==2.9.10
sqlparse==0.5.3
tablib==3.8.0
tzdata==2025.1